.Headerpage{
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid transparent;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(231, 230, 230);
    box-shadow: -2px 2px 10px -2px rgb(231, 230, 230);
    width: 100%;
}
.Headerpage h1{
    font-size: 29px;
}
.Headerpage p{
    cursor: pointer;
    margin-top: 29px;
}
.conta{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}